[2021-03-04 09:51] mahboubii opened #3 "Feature List"
## Client
- [x] Upload Image `POST /images`
- [x] Process Image `GET /images?url=&...`
- [x] Upload File `POST /files`
- [x] RefreshCDNUrl `POST /files/refresh`
- [x] GetActivities `GET /activities`
- [x]  GetEnrichedActivities `GET /enrich/activities`
- [x] OG `GET /og`
- [x] PersonalizedFeed `GET /enrich/personalization/feed` (should it be moved to feed?)

## User
- [x] Create `POST /user`
- [x]

[2021-05-07 17:28] sachaarbonel commented on #3
closing this now, we released the package on pub [check it out ](https://pub.dev/packages/stream_feed)

[2021-05-07 17:28] #3 closed

[2021-05-09 14:29] rlee1990 opened #53 "The Class User Has Conflicts"
The class User conflicts with the Firebase class name of User. We can work around it but might I suggest changing the name to streamUser of feedUser?

[2021-05-09 14:59] rlee1990 opened #54 "Stream Token Issue"
I am receiving this exception:
`'package:stream_feed/src/client/stream_feed_client_impl.dart': Failed assertion: line 61 pos 9: 'userId != null': Invalid `userToken`, It should contain `user_id``
I receive it when passing the token from my backend to the front end. The issue appears because we have to pass a token object and not a string. Are we supposed to still create the token via our backend s

[2021-05-09 19:03] Nash0x7E2 commented on #54
Hi! Thank you for filing this issue!

You are receiving this error because the user token generated from your backend does not match the user's ID on the frontend.

All tokens created on the backend should be generated using your application's secret and a `user_id`. As an example, you can enter your application's secret and a test user ID on our online generator to create a token then pass that t

[2021-05-09 19:09] rlee1990 commented on #54
Thanks I will give it a try and let you know what happens.

[2021-05-09 19:16] Nash0x7E2 commented on #53
Hey! Thank you for taking the time to file a bug, our team has a PR in progress which addresses this issue.

PR: #43

[2021-05-09 21:41] rlee1990 commented on #54
I found the issue with that was happening I was using `streamClient.user(newValue.uid).getOrCreate({name: newValue.name, gender: newValue.gender, photo: newValue.profileFile.url});` to create the token which was not creating the correct token I guess now I am using `streamClient.createUserToken(streamUser.id);` thanks

[2021-05-09 22:34] #54 closed

[2021-05-10 00:21] rlee1990 opened #55 "Error trying to get activity feeds"
I am receiving this error each time:
[code]
The request is:
[code]

[2021-05-10 13:33] rlee1990 commented on #55
@sachaarbonel That is were I got my token code as I had an issue before with that and I was using the token from the site you provided when I got this error. I only added the user id because I was getting the error and tried to see if that would help. I am not sure what the issue is. I will try to delete the users and start from new and see.

[2021-05-10 13:41] rlee1990 commented on #55
@sachaarbonel I just tried the site again to create a token then went to the jwt.io site and paste the token and it comes up as invailed.

[2021-05-10 14:02] sachaarbonel commented on #55
can you try with this token? `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZVRIVkJuRW0wRlFCMkhlYVJLVmxFZlZmNThCM3BlcnNvbmFsIn0.IfL0sFc7vQUuQVBYDtJYp8luwOC0wQRWQ2znDSYlGds`

[2021-05-10 14:03] rlee1990 commented on #55
okay I will try it

[2021-05-10 14:27] rlee1990 commented on #55
@sachaarbonel That one works.

[2021-05-10 14:35] sachaarbonel commented on #55
You probably input the apiKey instead of the secret in the website to generate the token, or forgot a letter while copying the token (happened to me once). I'm gonna close this.

[2021-05-10 14:35] #55 closed

[2021-05-10 14:39] rlee1990 commented on #55
That most have been it. I went and did the same thing for the other user account and its working now thanks.

[2021-05-11 08:47] Abacaxi-Nelson opened #57 "Example App ?"
Hi team,
So happy to have a feed plugin now ❤️

Is there any plan to create an example app like the chat does ?

Thank you,
Nelson

[2021-05-11 10:54] sachaarbonel commented on #57
Hey Nelson, we got you! There is a tutorial [here](https://github.com/GetStream/flutter-feeds-tutorial)

[2021-05-11 12:29] Abacaxi-Nelson commented on #57
hey @sachaarbonel
Yes, but an example has much more:

- Reusable component
- State management
- Edge case handle

:)

[2021-05-11 12:44] #57 closed, assigned to nobody

[2021-05-12 00:01] rlee1990 opened #59 "Cannot Create Activities"
I receive the following error when trying to add an activity.
I am signed in with the same person that I am adding the activity for and the token is valid.
[code]

[2021-05-12 03:33] #59 closed

[2021-05-12 03:38] rlee1990 opened #60 "Actor Id On Add Activity"
Can we remove the need to add SU as part of an actor ID. Is there a certain reason for this? I use that actor ID when getting the activities and would have to rewrite code to remove that in a lot of places. If it is something that is needed I understand just trying to better understand the use of it.

[2021-05-12 19:14] rlee1990 opened #61 "EnrichedActivity Not Returning Reactions"
I am not sure what is happening. I add a reaction like so:
[code]
Then I get the enriched activities like so:
[code]
It will return the activities but not any reactions it's like they do not get updated even though I get a return value.

[code]

[2021-05-12 20:18] sachaarbonel commented on #61
Hey @rlee1990 can you link the getEnrichedActivity response log?

[2021-05-12 20:21] rlee1990 commented on #61
@sachaarbonel here it is:
[code]

[2021-05-12 20:25] sachaarbonel commented on #61
did you add the activity with `addActivity(post)`?

[2021-05-12 20:31] rlee1990 commented on #61
@sachaarbonel  this is how I added the activity
[code]

[2021-05-12 20:32] rlee1990 commented on #61
The activity was created last night and the reaction was added today @sachaarbonel
I am adding the reaction as a second user who follows the first user.

[2021-05-12 20:55] sachaarbonel commented on #61
I'll investigate your logs from our dashboard but the first thing that seems odd to me is that you are overriding the foreignId, can you try not to? Also, not relevant but an object is something like a "tweet", a "photo" or a "video" for example: “Geraldine(actor) posted(verb) a photo(object) to her album(target)".

[2021-05-12 21:03] rlee1990 commented on #61
okay thanks for that I will make a new post this way and try it out. Also as an FYI I set all of that the same way as I have now when I used firebase functions to build everything and it worked without issue if that helps. I did see my logs on the dashboard on my end it shows green for post when adding the reactions but you probably can see more than I can. Thanks for the help.

[2021-05-12 21:19] rlee1990 commented on #61
@sachaarbonel here is a new post that I made following what you told me and then I added a reaction. I still get the same results:
[code]

[2021-05-13 17:06] rlee1990 commented on #61
Hi @sachaarbonel any update on this?

[2021-05-14 15:06] sachaarbonel commented on #60
The server needs this for enrichment however an easier way to create a reference is by doing this: `client.currentUser.ref`

[2021-05-14 15:08] sachaarbonel commented on #61
I tried to reproduce with a minimal sample and it's definitely a bug, working on a fix

[2021-05-14 15:11] rlee1990 commented on #61
@sachaarbonel Thanks for the update

[2021-05-14 15:12] rlee1990 commented on #60
Cool thanks @sachaarbonel

[2021-05-14 15:12] #60 closed

[2021-05-14 15:12] xsahil03x commented on #60
@rlee1990 passing a `ref` is optional. You only pass it when you want to enrich the activity.

[2021-05-14 16:27] sachaarbonel commented on #61
@rlee1990 can you check if #62 solved your issue?

[2021-05-14 16:28] rlee1990 commented on #61
@sachaarbonel checking now.

[2021-05-14 16:47] rlee1990 commented on #61
@sachaarbonel I don't see any changes in the sdk and when I ran the app I am still not seeing anything.

[2021-05-14 17:02] xsahil03x commented on #61
@rlee1990 change your pub dependency to git for testing the fix.
[code]

[2021-05-14 17:08] rlee1990 commented on #61
@sachaarbonel I am not seeing like information I will make a new post and see what happens.

[2021-05-14 19:35] rlee1990 commented on #61
@sachaarbonel Sorry I thought I added a reply again but it is working. Thank you.

[2021-05-17 10:06] #61 closed

[2021-05-17 11:15] sachaarbonel commented on #61
Hey @rlee1990 the fix is now available in  v0.1.3: `stream_feed: ^0.1.3`

[2021-05-17 13:12] rlee1990 commented on #61
@sachaarbonel  thanks.

[2021-05-18 11:16] edbond commented on #59
Hey @rlee1990 how did you solve the issue? I have similar issue, tried many variants for Actor field without any luck.

`user:$user_id`, `SU:$user_id`, `$user_id`

[2021-05-18 11:20] sachaarbonel commented on #59
hey @edbond can you open another issue and paste your logs so we can help?

[2021-05-18 11:33] edbond commented on #59
Thank you @sachaarbonel . I looked at another issue report and `streamClient!.currentUser!.ref` now works for me.
Probably I had additional bug before.

[2021-05-19 16:59] rlee1990 opened #70 "Getting Following Feeds"
When I try to get the feeds that the current user is following I get null trying to access the data. If you look at the response from the request it shows there is indeed data but using `value[0].target ` or `value[0]` each returns null.
[code]

[2021-05-20 11:41] sachaarbonel commented on #70
Looking at the history it looks like the model got changed. Working on a fix

[2021-05-20 11:52] xsahil03x commented on #70
@sachaarbonel in `Follow.dart` add `jsonKey` and regenerate models

[code]

[2021-05-20 12:43] rlee1990 commented on #70
@sachaarbonel  @xsahil03x thanks will give this a go

[2021-05-20 13:34] sachaarbonel commented on #70
hey @rlee1990 the fix landed! can you check it worked:
[code]

[2021-05-20 13:35] rlee1990 commented on #70
Will do right now thanks

[2021-05-20 15:20] rlee1990 commented on #70
@sachaarbonel It is still not working. I still get the same issue.

[2021-05-20 15:22] sachaarbonel commented on #70
did you use the fix branch? https://github.com/GetStream/stream-feed-flutter/issues/70#issuecomment-845127315

[2021-05-20 15:22] rlee1990 commented on #70
Yes
stream_feed:
     git:
       url: https://github.com/GetStream/stream-feed-flutter.git
       ref: fix-issue-70
       path: ./packages/stream_feed

[2021-05-20 15:23] rlee1990 commented on #70
My pubspec.lock file output:
[code]

[2021-05-20 15:24] rlee1990 commented on #70
@sachaarbonel this is the follow.dart file:
[code]

[2021-05-20 15:27] rlee1990 commented on #70
Here is the output:
[code]
and the function I ran:
[code]

[2021-05-20 15:41] sachaarbonel commented on #70
It's not exactly the same error as you can see the new Follow model correctly parse the HTTP response, so it's not coming from our SDK but your codebase. This works for me when I tried to reproduce
[code]

[2021-05-20 15:45] rlee1990 commented on #70
Sorry I see the new issue now I have to separate the : again thanks the fix is working.

[2021-05-20 15:46] #70 closed

[2021-05-21 13:24] sachaarbonel commented on #70
Hey @rlee1990 the fix is now available in v0.2.0 `stream_feed: ^0.2.0` Thanks for your valuable feedback

[2021-05-21 13:25] rlee1990 commented on #70
Thanks

[2021-05-26 13:46] rlee1990 opened #80 "NotificationGroup Issue"
The NotificationGroup model is not publicly available to import. As of now I have to manually add
`import 'package:stream_feed/src/core/models/group.dart';` Then I get this warning for doing so:
`Don't import implementation files from another package.`

[2021-05-26 13:55] xsahil03x commented on #80
Hey @rlee1990, can you also share what are you trying to do?

[2021-05-26 14:09] sachaarbonel commented on #80
He is probably trying to make a widget accept a NotificationGroup parameter, which is reasonable. Opened a fix #81

[2021-05-26 14:31] sachaarbonel commented on #80
Hey @rlee1990 the fix is now available in the latest version: `stream_feed: ^0.2.1`. Thanks for your valuable feedback

[2021-05-26 14:31] #80 closed

[2021-05-31 08:48] xsahil03x commented on #53
Closing as fixed in #43

[2021-05-31 08:48] #53 closed

[2021-06-09 17:12] RizanPSTU opened #88 "`userToken` must be provided while running on client-side error"
**Describe the bug**
I am getting E/flutter (17650): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: Assertion failed: "`userToken` must be provided while running on client-side" with secret
But in the example you are using fine
<img width="1397" alt="Screenshot 2021-06-09 at 11 11 29 PM" src="https://user-images.githubusercontent.com/32144390/121399330-22adb500-c978-11eb-9d2b-60

[2021-06-09 17:16] RizanPSTU commented on #88
@xsahil03x  @sachaarbonel  @Nash0x7E2 Please help me.

[2021-06-09 17:25] sachaarbonel commented on #88
hey @RizanPSTU sorry for the inconvenience but we missed to update the Flutter sample when we set up this security mechanic. It's highly advised to not use a secret on any client-side devices (whether in the browser, in mobile, or desktop). You should rather create a user token programmatically (serverside) or using this [link](https://getstream.io/chat/docs/react/token_generator/) on our website.

[2021-06-09 17:28] RizanPSTU commented on #88
Ok, I am closing the issue. Got my answer. Thanks :)

[2021-06-09 17:28] #88 closed

[2021-06-09 20:27] salihgueler opened #89 "Subscribing to the feed throws exception and doesn't show a message"
**Describe the bug**
When the user subscribes to the feed, if there is a new event, it throws an error.
`Unhandled Exception: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'String?' in type cast`

**What version of Flutter do you use?**
Flutter (Channel stable, 2.2.1, on macOS 11.2.3 20D91 darwin-x64, locale en-TR)

**What package are you using? What version?**
  stream_f

[2021-06-09 20:47] xsahil03x commented on #89
Hey @salihgueler, thanks for reporting. It's a known bug that our team have to discuss upon. I'll let you know tomorrow once we come to a conclusion.

[2021-06-10 12:57] sachaarbonel commented on #89
Hey @salihgueler, thanks for the feedback. As Sahil said we had to discuss this and we have a fix ready in this PR #90.
Would you mind try it and let us know if it worked for you?
[code]

[2021-06-10 13:16] salihgueler commented on #89
HI @sachaarbonel, it seems to be working now :)

[2021-06-10 17:25] rlee1990 commented on #89
@sachaarbonel I am using the version you posted but I still cannot get enriched activities no errors it just does not have an option for them.

[2021-06-10 17:35] sachaarbonel commented on #89
The API for EnrichedActivity still needs some work but basically, to extract an object this is how it's done for now:
[code]

[2021-06-10 17:39] rlee1990 commented on #89
Thank you @sachaarbonel

[2021-06-10 18:30] rlee1990 commented on #89
@sachaarbonel Im not sure I get you but for the subscription api it only returns activities and not enriched activities. The message you posted not sure how that will allow me to use that in this way.

[2021-06-10 18:39] xsahil03x commented on #89
Hey @rlee1990 , the subscription activity type depends on the type of activity you are adding in feed. So if you add an activity with enriched fields you will get the same in subscription callback.

[2021-06-10 18:43] rlee1990 commented on #89
@xsahil03x thats not the case as one the RealtimeMessage.newActivities is a list of type Activity and not a type of EnrichedActivity so I am just trying to find out if its possible to also add EnrichedActivity as a type for that or will I need to completely change up my code and just get activities back and then make a call to get the enriched data later (which would be a lot more network calls).

[2021-06-10 18:47] xsahil03x commented on #89
Also, do note that new activities coming from subscription will only contain enrichment for these fields:

1. Activity `SA`
2. Reaction `SR`
3. Object `SO`
4. User `SU`

the only thing you don’t get is the enriched reactions like own_reaction or latest_reactions

[2021-06-11 06:38] #89 closed

[2021-06-11 06:39] xsahil03x commented on #89
Hey @rlee1990, can you open a separate one for your issue?

[2021-06-11 12:59] rlee1990 opened #91 "Subscribing to the feed only gives activities of Type activity and not Enriched Activity"
Subscribing to the feed only gives activities of Type activity and not Enriched Activity.

Using version:
[code]

[2021-06-11 13:02] sachaarbonel commented on #91
Hey @rlee1990 I think there are two many parameters in your YAML file and the "version" is taking over the git dependency. Just keep URL, ref, and path.

[2021-06-11 13:04] rlee1990 commented on #91
@sachaarbonel thats from the pubspec.lock file
This is my yaml file:
[code]

[2021-06-11 13:08] sachaarbonel commented on #91
did you try to do a `flutter clean`?

[2021-06-11 13:13] rlee1990 commented on #91
Yes I did the only option it has are in this screenshot:
![stream_feed](https://user-images.githubusercontent.com/21372502/121691701-4b779c80-ca95-11eb-81f5-7b0aaafc0d5f.png)

[2021-06-11 13:23] rlee1990 commented on #91
@sachaarbonel nevermind I just did a reboot of my Mac and now it is showing strange maybe vscode was having an issue.

[2021-06-11 13:23] #91 closed

[2021-06-12 23:44] rlee1990 opened #96 "Feed Subscribe Issue"
When you receive the new activities the data is of type Enriched Activity but the data only has the fields of Type activity.

This is an enriched activity when I first get all activities:
`EnrichedActivity(EnrichableField({created_at: 2021-06-07T02:16:12.451786Z, updated_at: 2021-06-07T02:16:12.451786Z, id: yveXfteo6tTV674YBzeGAHlg8xC2personal, data: {gender: Male, name: rickey lee, photo: https:/

[2021-06-14 12:06] sachaarbonel commented on #96
Hey @rlee1990 I don't quite get your issue, as the data you get from the subscription is enriched, at least the field actor is. Can you elaborate?

[2021-06-14 12:34] rlee1990 commented on #96
@sachaarbonel the enriched activities that we get from fetching them come with fields like own reactions and things like that even if null and we can use that with our local post modal but when we subscribe to a feed it does not contain any of that.

[2021-06-14 12:41] sachaarbonel commented on #96
So as @xsahil03x said in this comment things like `own_reaction`, `latest_reactions`, etc are not supported for subscriptions by the backend thus not by the SDK.
https://github.com/GetStream/stream-feed-flutter/issues/89#issuecomment-858901924

I'll add this to our docs as I agree it's not clear

A workaround you could do is to fetch those fields in particular via the  client `stream_feed`

[2021-06-14 12:42] rlee1990 commented on #96
Thanks.

[2021-06-14 12:42] #96 closed

[2021-06-17 17:11] rlee1990 opened #98 "Stream Analytics"
Is stream Analytics included in the feeds sdk for flutter or the chat sdk? If so is there a way to set it up? I do not see anything in the docks for setting it up for flutter/dart.

[2021-06-17 17:32] sachaarbonel commented on #98
Hey @rlee1990, sorry about that, just realised that it is documented in the code but not on our website. We'll update asap. But in a nutshell this is how you would do it
[code]

If you are interested in how we will do it in Flutter take a look at this (work in progress) implementation [here](https://github.com/GetStream/stream-feed-flutter/blob/cbb43b8de9af0c7383cdeaddd03395a679f4dace/packages/str

[2021-06-17 17:40] rlee1990 commented on #98
Thank you.

[2021-06-21 07:23] Abacaxi-Nelson opened #101 "[Help] Connect user"
Hi,

In your example, you are connecting the user when app is started :
https://github.com/GetStream/stream-feed-flutter/blob/46c81823eea44e7e722adab5ded942463ededa3c/example/lib/main.dart#L12

In real uses case, we cant do it at launch, because user is not logged in yet..
Do you have some advice ?

Im also using chat, and is more convenient, because we dont need a cient instance (```final client

[2021-06-21 07:58] xsahil03x commented on #101
Hey @Abacaxi-Nelson, yes ideally you should handle all this on a separate screen.

pseudocode

[code]

[2021-06-21 07:58] #101 closed

[2021-06-21 12:09] Abacaxi-Nelson opened #102 "[HELP] The policy "Don't impersonate other users"
Hi team,
im creating a new user
[code]

and posting an activity
[code]

Im trying to post this activity on two feeds: 'circle' and timeline of the connected user (uid)
Im getting:
[code]
Am i doing something wrong ?
Nelson

[2021-06-21 12:22] Abacaxi-Nelson commented on #102
i already try
[code]
and remove the "to"

[code]

still not working :(

[2021-06-21 12:29] sachaarbonel commented on #102
Hey @Abacaxi-Nelson, can you try `setUser` instead of `create`?

[2021-06-21 12:42] Abacaxi-Nelson commented on #102
@sachaarbonel

[code]
 same error message :(

[2021-06-21 12:56] Abacaxi-Nelson commented on #102
i print user from setUser
[code]

and use this user in activity
[code]

[2021-06-21 13:59] Abacaxi-Nelson commented on #102
using ``` actor: 'SU:$uid' ``` seems to solve the problem. weird..
But, if i add a TO field, im getting new error:
_You do not have permission to do this, you got this error because there are no policies allowing this request on this application. Please consult the documentation https://getstream.io/docs/_

Will dig the issue

[2021-06-21 14:58] sachaarbonel commented on #102
Hey sorry for the late response! The best way to achieve this is that way:
[code]
I'll add this to the docs

[2021-06-22 13:19] rlee1990 opened #103 "Respost Issue"
I have a question. I am trying to do a repost/share as Facebook and Twitter do but when I use the code below I have issues. The activity is not copied to the target feed just the reaction does and not even the data that is added to the reaction.

[code]

[2021-06-22 21:27] #102 closed

[2021-06-22 21:30] Abacaxi-Nelson opened #104 "Subscribe to reactions ?"
Hi
I'm using reactions for activity comments. Is there any way to subscribe for realtime reactions update ?

I know they is already subscription for feeds.

Thank you,
Nelson

[2021-06-22 21:40] Abacaxi-Nelson commented on #104
In a faq, i saw:

We don't currently support this, but there are workarounds. When a reaction is added it can also be added to a hidden feed as an activity and notifications can be generated from that feed. Or, you can re-add the whole activity when a reaction is added.

Real-time notifications are high on the priority list for 2021 features.

[2021-06-23 07:52] Abacaxi-Nelson opened #105 "Update dev ?"
Hi @sachaarbonel @xsahil03x
Is it possible to update more ofter dev branch ?
im developing an app on top of your packages, but last features are all on their branch.

No matter if bugs still exists, having features on develop will enable us to find bugs !

Thanks for your work :)
Have a nice day

[2021-06-23 11:15] sachaarbonel commented on #104
I'll ask the react team how they'd do this and share with you a nice code snippet :)

[2021-06-23 11:18] sachaarbonel commented on #105
Hey, @Abacaxi-Nelson so far in dev branch we are working on `stream_feed_flutter`and `stream_flutter_coer` which is mostly UI stuff, is that what you are interested in? It's very unstable right now. Hotfixes land on master

[2021-06-23 11:30] sachaarbonel commented on #104
There is a tutorial for js, but none for dart yet. You can find it [here](https://getstream.io/activity-feeds/docs/node/notification_system/?language=javascript)

[2021-06-23 11:44] Abacaxi-Nelson commented on #104
thanks @sachaarbonel

[2021-06-23 12:03] Abacaxi-Nelson commented on #105
hey @sachaarbonel
Yes this is what i need, no problem if it's instable..
some PR are open for 28 days..

[2021-06-23 12:56] sachaarbonel commented on #105
Sorry about that we are still a pretty small team on feed. @xsahil03x and I will find some time to review the PRs this week

[2021-06-23 12:58] Abacaxi-Nelson commented on #105
no worries @sachaarbonel :)

[2021-06-23 13:22] rlee1990 commented on #103
@sachaarbonel do you have any ideas on this?

[2021-06-23 13:23] sachaarbonel commented on #103
Can you expand on what you are trying to achieve? Add a count on the number of shares?
Also, what is your `getEnrichedActivities` query? Have you tried to add flags like `flags: EnrichmentFlags().withOwnReactions()`?

[2021-06-23 13:26] rlee1990 commented on #103
The idea would be to achieve what Facebook and Twitter and others do for a retweet or repost. The support team sent me what I added above but when I add the reaction to the person that pressed the share buttons feed it really does not provide any useful information it doesn't even have the reaction data.

[2021-06-23 13:59] sachaarbonel commented on #103
Oh I see, this currently being worked on as we speak but basically in a nutshell (trying to peel the layers for you):
to get the reaction counts: https://github.com/GetStream/stream-feed-flutter/blob/a315369c9bbc417d0df91a993f3a50152ffc1127/packages/stream_feed_flutter/lib/src/widgets/buttons/reaction.dart#L41
to know if the user has already reacted: https://github.com/GetStream/stream-feed-flutte

[2021-06-23 14:13] rlee1990 commented on #103
@sachaarbonel I think the issue is getting the activity as I already have the counts and added reactions but when I do this:
[code]
When trying to get the feed I have it set like this:
[code]

But the reaction is only there not the repost and the data that was added to the reaction is not there.

[2021-06-23 14:31] sachaarbonel commented on #103
What do you mean by the reaction is only there not the repost? As I understand the reaction is the repost.
Also, could you share some logs?

[2021-06-23 14:33] rlee1990 commented on #103
@sachaarbonel This is all that shows in the user feed for the person that reposted an activity
<img width="448" alt="Screen Shot 2021-06-23 at 10 33 15 AM" src="https://user-images.githubusercontent.com/21372502/123115953-828f6b80-d40e-11eb-9daa-d4e7af5ee36a.png">

[2021-06-23 14:34] rlee1990 commented on #103
Notice how on my reaction I even add data but its not there:
[code]

[2021-06-23 14:37] sachaarbonel commented on #103
It works fine for me, try to remove targetFeeds and let me know what you get

[2021-06-23 14:42] rlee1990 commented on #103
But then that defeats the point of a repost won't it. How will we get the activity?
Here is what I am trying to do.
User A adds a post to their user feed. The post shows on User B's timeline feed. User B clicks share or repost then the post from User B's timeline is added as an activity to User B's user feed and will show up on any feeds that follow User B's user feed.

[2021-06-23 14:55] rlee1990 commented on #103
@sachaarbonel I hope that helps

[2021-06-23 15:21] rlee1990 commented on #103
I think I see what is happening @sachaarbonel it looks like the post ID is added to the object field. I am trying to use that as a work around I will give that a go.

[2021-06-23 15:38] sachaarbonel commented on #103
Thanks for elaborating on this. I shared your issue with a member of the react team I'll get back to you when I have more input on this

[2021-06-23 15:47] rlee1990 commented on #103
I got it to work it's odd but when I get the object for the reaction it then returns the whole post @sachaarbonel thanks for the help it got me to this. If the react team has a better approach I am all for it.

[2021-06-24 20:19] Abacaxi-Nelson commented on #105
❤❤❤❤❤❤❤❤❤❤

[2021-06-24 20:19] #105 closed

[2021-07-01 13:47] Abacaxi-Nelson opened #109 "[Bug] Subscribe (Experimental)"
**Describe the bug**
Hi,
i get an error when i subscribe to a feed.

**What package are you using? What version?**
Develop branch

**What platform is it about?**
- [X] iOS

**Logs **
Run `flutter analyze` and attach any output of that command below.
If there are any analysis errors, try resolving them before filing this issue.

Paste the output of running `flutter doctor -v` here.

[code]

[code]

[2021-07-01 13:56] xsahil03x commented on #109
@Abacaxi-Nelson in order to subscribe to feeds, you need to also pass AppId in the constructor which you can get from your project dashboard.

[code]

[2021-07-01 13:57] xsahil03x commented on #109
@sachaarbonel I think we can improve the error message and also append the solution in it.

[2021-07-01 13:59] Abacaxi-Nelson commented on #109
Works !

[2021-07-01 13:59] #109 closed

[2021-07-01 19:03] Abacaxi-Nelson commented on #109
hi @xsahil03x @sachaarbonel
How is suppose to work the subscribe ? does it send each new activity one by one, or a batch of them ?

Thank you,

[2021-07-05 00:20] rlee1990 opened #110 "Subscribing To Notification Feed"
When subscribing to real-time updates of the notification feeds they also only return Enriched activities and not `NotificationGroup<Activity>`
Not sure if we are able to subscribe to them or not but that would be very useful.

**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

[2021-07-05 07:51] #104 closed

[2021-07-05 10:32] Abacaxi-Nelson opened #111 "getEnrichedActivities - Filter"
**Describe the bug**
Hi team,
im using filters when getting activities.

[code]
My problem is
if i keep: ```filter.idGreaterThanOrEqual(lastActivityId)``` im seeing my activity => Great
[code]

but, if i switch to ```filter.idLessThanOrEqual(lastActivityId)``` im not seeing anymore the activity, i see old activities only
[code]

**What package are you using? What version?**
develop

**What platfor

[2021-07-05 11:45] Abacaxi-Nelson commented on #111
maybe i'm misunderstand API
[code]

Why do you need to use both ```idLessThanOrEqual``` ```idGreaterThanOrEqual```
```idLessThanOrEqual``` should return activityId, and limit=1 force API to return only one...

Why using both ?

[2021-07-05 12:03] sachaarbonel commented on #111
Think of it as something that gets interpreted by the backend as: `SELECT * FROM activities WHERE activity_id >= inputid AND activity_id <= inputid  LIMIT 1`;

[2021-07-05 12:07] Abacaxi-Nelson commented on #111
@sachaarbonel kind of optimzation.

But ```idLessThanOrEqual``` ```idGreaterThanOrEqual``` are not supposed to a list which contains at least the ```activityId``` passed ?

that's not the case in my test..

[2021-07-05 12:12] sachaarbonel commented on #110
The UX we support right now is that you have to display a notification bell with a count (uses RealtimeTime type under the hood) and on click, it directs you to a ListView with a list of notifications (NotificationGroup<Activity>)

[2021-07-05 12:17] Abacaxi-Nelson commented on #111
Oooh i get it !
Activities must have a "time" supplied :
[code]

[2021-07-05 12:17] #111 closed

[2021-07-05 12:18] sachaarbonel commented on #111
Well spot!

[2021-07-05 12:34] sachaarbonel commented on #111
Do you think a doc on top of the field `idGreaterThanOrEqual` inf `Filter` would help future users with this type of issue?

[2021-07-05 12:49] Abacaxi-Nelson commented on #111
Yes for sure.
More over, adding it also when adding activities.. this field could be mandatory

[2021-07-05 13:30] rlee1990 commented on #110
@sachaarbonel i can get notifications just fine the issue is when a use a notification feed and try to subscribe to real-time updates the return type is wrong.

[2021-07-07 13:27] Abacaxi-Nelson opened #112 "[Help] You do not have permission to do this, you got this error because there are no policies allowing this request on this application."
Hi,
Just to share.

Error: **You do not have permission to do this, you got this error because there are no policies allowing this request on this application.**

When getting followers, from other feed (that dont belong to current user)

[code]

Just ask support to add policy, and voila !

[2021-07-07 13:27] #112 closed

[2021-07-08 10:24] Abacaxi-Nelson opened #113 "Subscription feed"
**Describe the bug**
Hi team,
I don't know if it's normal or not :)

im subscribing to a feed
[code]

**Problem 1 :** ```RealtimeMessage``` received are not aggregated

**Problem 2 :** if i reload immediately after the subscription is triggered, activities seems not to be updated. Are we supposed to handle update on our side ? (ie aggregate and update current list)

**What package are you using? W

[2021-07-08 10:50] #113 closed

[2021-07-22 10:03] Shahmirzali-Huseynov opened #116 "View All users without following"
Hello. How can I show all users without following? There are writing in doc

1. The first thing we need to do is view a list of users and pick a few to follow. We'll start by creating a view that shows all the users and lets a user follow a few. Here is the screen that shows all the users:
2. Now that we have a way to follow users we can view our timeline. When we're done, assuming we've followed

[2021-07-22 12:00] Shahmirzali-Huseynov opened #117 "api_key is missing error in example project"
**Describe the bug**

I download the example folder and run, then initialize API key, token and appID,
[code]
but this gives this error when I click any user, for example, Sahil Kumar or any other.

[code]

How can I solve this problem ?

**What version of Flutter do you use?**
Flutter 2.2.3
**What package are you using? What version?**
version 0.2.2

**What platform is it about?**
- [ ] Android
-

[2021-07-26 12:55] sachaarbonel opened #118 "UI kit"
- [x] Activity
- [x] ActivityContent
- [x] ActivityFooter
- [x] ActivityHeader
- [ ] AttachedActivity
- [ ] Audio
- [x] Avatar
- [x] AvatarGroup
- [x] Button
- [x] Card
- [x] CommentField
- [ ] DataLabel
- [ ] Dropdown
- [ ] DropdownPanel
- [ ] EmojiPicker
- [ ] FeedPlacerHolder
- [x] FlatFeed
- [ ] FollowButton
- [ ] Gallery
- [ ] IconBadge
- [x] Icons
- [ ] InfiniteScroll
- [ ] InfinititeScrollP

[2021-07-26 14:05] sachaarbonel commented on #117
Hey @Shahmirzali-Huseynov thanks for submitting an issue. Sounds like you didn't provide an api key. In the sample project we retrieve it from an environment variable that you have to set.

[2021-07-26 14:22] sachaarbonel commented on #116
Hey @Shahmirzali-Huseynov thanks for submitting an issue. We are indeed missing an handy method to show all users, added this is to our backlog

[2021-07-29 12:38] Shahmirzali-Huseynov commented on #117
@sachaarbonel thanks for support, but i set API key, but not working :(

[2021-07-29 20:31] sachaarbonel commented on #117
By set you mean hardcoded or set the env? If it is the later it's possible that on mobile it doesn't work. Ialso have something else in mind: is it your API key (copy pasted from your dashboard) or the API key from the [tutorial](https://getstream.io/activity-feed/sdk/flutter/tutorial/)?

[2021-07-30 01:05] MisterJimson commented on #117
I ran into this too. You need to match the ID of the user you are clicking on with the ID you used to generate the token.

In my use case, I generated the user token like this in node.
[code]

And after I copied it into the Flutter app for testing, none of the user buttons worked. So I went into `app_user.dart` and modified Sahil's id to match mine.

[code]

[2021-07-30 11:09] xsahil03x commented on #117
@Shahmirzali-Huseynov the above solution which @MisterJimson shared will most probably solve your issue.

[2021-08-18 17:33] ObserverMoment opened #127 "Best way to check if a notification feed has unseen activity?"
Hi,

Just starting to dig into this package as I build out some social features for my application.

I can't see how to just check if there are one or more unseen activities on a notification feed. I don't need any details, or even need to know how many there are, I just need to display a dot if there are any.

Can you point me in the right direction please?

I initialise with:

`
_notificationFee

[2021-08-19 16:12] ObserverMoment opened #128 "Log Level?"
Hey, a quick one...are we able to reduce the StreamFeedClient log level? I seem to be getting every line from every call dumped into my VSCode debug console - it would be nice if we could turn this off when not directly debugging GetStream SDK, as it just dominates the log and drowns out everything else.

Thanks,

Rich

[2021-08-21 14:27] ObserverMoment opened #129 "Can Create but not Update Activities"
**Describe the bug**
I can create an activity with:

`
await _feed.addActivity(feed.Activity(
          actor: context.streamFeedClient.currentUser!.ref,
          verb: 'post',
          object: '${describeEnum(_selectedObjectType!)}:$_selectedObjectId',
          extraData: {
            'caption': _captionController.text,
            // Try and ensure we alwasy pass a list of strings.

[2021-08-23 11:32] shodgetts commented on #129
Hi Richard,

This is indeed a case of some misleading documentation and I will ask the Flutter team to take a look. Our Feeds API actually does not allow updating of activities from client-side authentication. It is a request that must come from the backend/server.

Best,
Stephen

[2021-08-23 13:34] ObserverMoment commented on #129
Hi Stephen,

Thanks for the update!

So, to clarify then:

You can create and delete from the client when using

[code]

but to update you must go via the server-side client? Something like this (in nodejs).

[code]

Is this a limitation of the current SDK or implementation, or is this a design choice of the API (for security I assume)? Can we expect a future iteration to add this functionality?

[2021-08-23 18:54] sachaarbonel commented on #129
Hi @ObserverMoment can you try to instantiate `streamFeedClient.flatFeed(kUserFeedName);`(without userId) and let me know if it worked?

[2021-08-24 08:57] ObserverMoment commented on #129
Hi @sachaarbonel, ok I tried this

`_userFeed = _streamFeedClient.flatFeed(kUserFeedName);`

Received this error:

[code]

So I tried adding a call to `setUser` when I initialize my feed client like this:

[code]

I'm not sure what is supposed to go into `setUser(data)` as I could not find any docs on it, and I don't store (and don't want to store) and user data on Stream, except for the ID. This

[2021-08-24 15:06] sachaarbonel commented on #129
So I checked some backend logic to see what's up and apparently you don't have enough claims in your JWT token. You need those fields to be not null: `user_id`, `resource`, `feed_id`, `action`. Also, note that is not official but the Dart SDK can be used serverside or use serverside features on the clientside (very unsecured). For prototyping purposes, you can set the `runner` flag to `Runner.serv

[2021-08-24 15:22] ObserverMoment commented on #129
ok, so as @shodgetts suggested yesterday, editing activities can only (really) be done on the server side. Thanks for clarifying.

For now I'm going to leave editing activities and perhaps revisit at a later stage. It is not vital functionality to us and isn't worth building server side logic just to handle this one thing when almost everything else can be handled client-side.

Is there a structur

[2021-08-30 12:45] #128 closed

[2021-08-31 18:08] pedrohsampaioo opened #133 "Export `StreamApiException` to outside the package"
**Is your feature request related to a problem? Please describe.**

I need to handle with some exceptions from the GetStream, example:
[code]
but the package doesn't export the exception `StreamApiException`.

**Describe the solution you'd like**

Export https://github.com/GetStream/stream-feed-flutter/blob/master/packages/stream_feed/lib/src/core/exceptions.dart on https://github.com/GetStream/st

[2021-09-01 16:31] akul1994 commented on #118
Hey team,
When can we expect the UI kit? Loved your chat UI kit and eagerly waiting for this one to drop! 🥺🥺

[2021-09-01 17:38] akul1994 opened #135 "Const errors"
**Describe the bug**
Getting multiple constant constructor errors (Activity class,FeedIdClass)

Code is just me testing the sdk out, ignore the scrappy code

[code]

<img width="403" alt="Screenshot 2021-09-01 at 11 02 20 PM" src="https://user-images.githubusercontent.com/9698473/131718043-ce08b9e8-6107-4404-a233-97668c2adc67.png">
<img width="489" alt="Screenshot 2021-09-01 at 11 08 10 PM" src="h

[2021-09-02 14:09] xsahil03x commented on #135
:neutral_face:
[code]

[2021-09-02 14:14] #135 closed

[2021-09-02 14:23] sachaarbonel commented on #133
Hey @pedrohsampaioo, thanks for opening an issue this will be available in 0.3.0 #134

[2021-09-02 14:25] sachaarbonel commented on #118
Thanks for the enthusiasm @akul1994 bear with us while we work on releasing a tech preview of the Feeds UI kit this quarter

[2021-09-06 14:07] sachaarbonel commented on #128
Hey @ObserverMoment, this is now released in v0.3.0, you can disable log that way:
`var client = StreamFeedClient.connect(apiKey, token: Token('userToken'), logLevel: Level.OFF);`

[2021-09-07 08:49] ObserverMoment commented on #128
Nice! Thanks @sachaarbonel

[2021-09-07 20:54] Abacaxi-Nelson opened #137 "[Bug] FormatException: Invalid character (at character 1)<p>Please try again in 30 seconds===^"
**Describe the bug**
I got during 5 min:

**[Bug] FormatException: Invalid character (at character 1)<p>Please try again in 30 seconds===^**

And then, back to normal.

I reload the app so i lost debug.
But, code which failed was:

https://github.com/GetStream/stream-feed-flutter/blob/e16110d152f0ac62c99d5e0b8ae13f67115b3d40/packages/stream_feed/lib/src/client/stream_feed_client_impl.dart#L58

**W

[2021-09-08 12:27] sachaarbonel commented on #137
Hey, @Abacaxi-Nelson thanks for opening an issue. That's a weird bug that would be hard to replicate. Are you sure it's coming from us and not from one of your services (auth for example)? Let me know if it occurred again

[2021-10-13 09:29] obrunsmann opened #144 "Date's timezones"
Hello,

we're migrating to this package from our own Stream API implementation. While all the timestamps coming from the API are UTC we also need to parse them as UTC to let them automatically convert into local time.

What I've done was:
[code]

This worked perfectly fine and got converted in the local timezone.

Right now:
[code]

Prints _false_ which is not correct - the time actually is UTC :/

[2021-10-29 18:47] obrunsmann commented on #144
Yeah nice! So do you need something from me? I am here to test any time

[2021-10-29 18:49] obrunsmann opened #163 "extra_data Parsing"
I got an error parsing extra_data on an activity:

<img width="1440" alt="Bildschirmfoto 2021-10-29 um 20 49 12" src="https://user-images.githubusercontent.com/763812/139486986-f5e9ac5f-11b3-431f-9b67-ba8c8a7f7e26.png">

[code]

Maybe it would be nice to also allow null values while it's a weak map either?

[2021-10-31 10:12] obrunsmann opened #165 "Unread Messages count"
I am searching how to get the total amount of unread messages.

So these information are included in the original response:
<img width="352" alt="image" src="https://user-images.githubusercontent.com/763812/139577714-cd531208-4894-4413-9590-f6a36604eddc.png">

But then truncated in the message parsing:
[code]

[2021-11-01 13:13] sachaarbonel commented on #144
@obrunsmann I'll push a fix this week and ping you when it's done so you can try out

[2021-11-01 17:57] sachaarbonel commented on #144
hey, @obrunsmann I addressed your issues in #167 along with the recent issues you opened (#165,#163), can you let me know if this works for you? Keep in mind that it is based on our recent release (0.4.0) that includes some breaking changes like supporting generics. Here is the [release note](https://github.com/GetStream/stream-feed-flutter/releases/tag/v0.4.0) in case you need it.

You can try it

[2021-11-02 09:44] obrunsmann commented on #165
Hey @sachaarbonel :)

Thanks for your latest changes here.

Regarding this issue I looks like this has been added to the wrong level:

<img width="461" alt="image" src="https://user-images.githubusercontent.com/763812/139822159-443673a3-62f0-4799-b33e-83f01273e884.png">

The unread and unseen count is now at _NotificationGroup_ property but the count is located at `result['unseen']` and `result['u

[2021-11-02 10:05] obrunsmann commented on #165
I created a sample which I've already tested in our app in the PR #169. This works perfectly fine for our needs.

[2021-11-02 10:29] obrunsmann commented on #144
Thank you for that fix! My first checks where not successful but I expect this issue on our side - I need to check the timezone integration.

I can give you feedback on Thursday.

[2021-12-04 03:04] #103 closed

[2021-12-04 19:52] rlee1990 opened #177 "Getting Current Stream User Issue"
**Describe the bug**
A clear and concise description of what the bug is.
When calling `widget.streamClient.currentUser` It returns null. It worked before switching to the lastest version.
I have tried all sorts of ways to set the user but the issue reamins.
**What version of Flutter do you use?**
2.5.3

**What package are you using? What version?**
0.4.0

**What platform is it about?**
- [x] Andro

[2021-12-06 09:07] HayesGordon commented on #177
Hi, @rlee1990. We will release a new version soon to make this a bit more clear.

Before calling `.currentUser` you now need to set a user first, using `streamClient.setUser(User('id', data: data), 'user-token');`

[2021-12-06 14:30] rlee1990 commented on #177
@HayesGordon I did that and I still get a null user:
[code]

[2021-12-06 20:11] rlee1990 commented on #177
@sachaarbonel Any idea at to what the issue could be?

[2021-12-06 20:29] sachaarbonel commented on #177
Hey sorry for the late response. As @HayesGordon said we did a change in this release (0.4.0) to be able to swap a User token at runtime (think of using a different profile for example) without instantiating StreamFeedClient again.
I think the reason why you have an error is that you try to setUser with data from currentUser (currentUser.data etc), but currentUser is not "set" yet. Maybe try to ha

[2021-12-06 20:32] rlee1990 commented on #177
@sachaarbonel sorry for the confusion the currentUser in the code above is from Firebase which I get from a riverpod provider. I have confirmed that that information is coming in and that the setUser function is running.

[2021-12-06 20:34] sachaarbonel commented on #177
oh, I see. Are you awaiting `setUser`? It's a future now, so might be it

[2021-12-06 20:40] rlee1990 commented on #177
@sachaarbonel Yes I am.
I set the setUser up in a FutureProvider for Riverpod.
The watch it here:
[code]

[2021-12-06 20:51] sachaarbonel commented on #177
Wait so sUser is null inside your data callback?

[2021-12-06 20:59] rlee1990 commented on #177
@sachaarbonel nope this is what it returns:
`I/flutter (25177): SUser data: StreamUser(ytmORLAvAiWvYGt2jyL2GzeENMc2_personal, 2021-08-19 16:59:15.430621Z)`

[2021-12-06 21:39] rlee1990 commented on #177
It looks like the data might be coming back as null. I can call
[code]

With me putting in the username and trying to print u.data it returns null.

[2021-12-07 14:32] #144 closed

[2021-12-07 14:32] #163 closed

[2021-12-07 14:32] #165 closed

[2021-12-08 13:52] rlee1990 commented on #177
Any update on this?

[2021-12-09 02:59] sachaarbonel commented on #177
Hey, @rlee1990 sorry I thought you meant User was null. The underlying data is. A workaround is to call `profile` just after you `setUser`

[2021-12-09 03:01] rlee1990 commented on #177
@sachaarbonel when you say call profile is this a get stream function?

[2021-12-09 03:05] rlee1990 commented on #177
Nevermind

[2021-12-09 03:05] sachaarbonel commented on #177
yes it's a method from StreamUser
`await currentUser.profile()`

[2021-12-09 03:36] rlee1990 commented on #177
I am still having an issue. @sachaarbonel is there an example anywhere so I can try to compare?

[2021-12-09 14:12] rlee1990 commented on #177
I tried a few more times and still get the same issue I don't think the current user is being set.
@sachaarbonel

[2021-12-10 16:40] rlee1990 commented on #177
Any update @HayesGordon or @sachaarbonel I can't seem to find a solution.

[2021-12-14 19:51] rlee1990 commented on #177
Hi @sachaarbonel any other recommendations?

[2021-12-15 18:18] xsahil03x commented on #177
@rlee1990 , After setting the user successfully, you should use
`client.currentUser` to get the connected user.

`client.user` is used to create a new user instance. that's why `user.data` returns null.

[2021-12-20 07:40] #177 closed

[2022-01-11 01:54] rlee1990 commented on #177
Hi @xsahil03x Im still having the same issue

[2022-01-11 01:56] rlee1990 commented on #177
This is my riverpod provider:
[code]
and the function where I first get a user:
[code]
@xsahil03x

[2022-01-11 03:55] rlee1990 opened #186 "Cannot Access Current User"
Im still not able to access the current user after setting the user since updating. Old ticket #177

This is my riverpod provider:
[code]
and the function where I first get a user:
[code]
@xsahil03x

[2022-01-11 10:25] HayesGordon commented on #186
Hi @rlee1990

Could you also share your `client` and `userAccount` providers.

At what point are you calling the `streamUser` provider, it could be that where you're accessing `widget.client.currentUser` in your Stateful widget the providers have not been triggered, or the `setUser` future has not completed.

Please note that you do not need to call `get` again after calling `setUser`. After await

[2022-01-11 13:43] rlee1990 commented on #186
@HayesGordon Here is my other providers.
[code]
I call streamUser and wait for that to return before I load the home page or any page.

[2022-01-11 13:44] rlee1990 commented on #186
@HayesGordon Don't we have to set a current user before we can call `streamClient.currentUser;`?

[2022-01-11 14:39] rlee1990 commented on #186
Think I have it working now.

[2022-01-11 14:39] #186 closed

[2022-01-11 14:50] HayesGordon commented on #186
I'm glad @rlee1990, and yes you're right the docs need improving! That is something that we are working on.

[2022-01-11 14:54] rlee1990 commented on #186
@HayesGordon thanks for the help. It pointed me in the correct direction.

[2022-01-12 18:41] sudeepthapa commented on #118
@sachaarbonel What's the status of Flutter UI kit. When can we expect it?

[2022-01-12 18:46] sudeepthapa opened #187 "Realtime feature for reaction updates"
Current implementation of realtime feed only provides updates related to feed creation and deletion but doesn't provides updates related to comments, likes and other minor changes to feed.

When can we expect those features?

[2022-01-19 20:46] rlee1990 opened #189 "Error Trying To Subscribe To A Feed"
I keep getting the below error:
`Unhandled Exception: Invalid argument(s): Missing app id, which is needed in order to subscribe feed
`
I see in the code that the internal subscriber requires a token but the public-facing Subscribe function does not give an option to put one.

[2022-01-19 21:02] sachaarbonel commented on #189
Hey @rlee1990 thanks for opening an issue, what version are you using? Since 0.5.0, the userToken is set with  `setUser(user,token)`. Are you instantiating the client with an appId? `StreamFeedClient(apiKey,appId:appId)`?

[2022-01-19 21:08] rlee1990 commented on #189
I am using 0.5.0 @sachaarbonel
And I see the issue Looks like the client doesn't prompt when only the secret is provided forgot to check there 🤦🏽‍♂️

[2022-01-19 21:08] #189 closed

[2022-01-25 15:15] rlee1990 opened #190 "Suspend Feature"
**Is your feature request related to a problem? Please describe.**
The ability to suspend a user from posting to any timeline for a set time frame.

**Describe the solution you'd like**
Say user A had a post reported by User B. An admin could then use a Stream Feed function to suspend the user like how you can with the stream chat for a certain chat. This would work just like how Facebook and Inst

[2022-01-25 15:21] #137 closed

[2022-01-25 15:23] sachaarbonel commented on #133
This feature was released

[2022-01-25 15:23] #133 closed

[2022-01-25 15:25] #117 closed

[2022-01-27 15:05] Abacaxi-Nelson opened #191 "Log level when subscribing"
**Is your feature request related to a problem? Please describe.**
Hi
Im connecting with

[code]

And subscribing

[code]

Problem is i still see

[code]

[2022-01-28 17:29] ObserverMoment opened #193 "Notification Feed Subscription not being triggered by ActivityMarker().allSeen().allRead()"
Hi,

Is there a way to be able to be able to receive real-time updates when a user marks all their notifications as seen / read?

I am getting unseen counts to display an indicator via

[code]

Then subscribing to the notification feed via

[code]

When the user opens their notifications list I run this

[code]

However, the subscription is not triggered and so the indicator does not update correc

[2022-01-29 22:43] svk014 opened #194 "Total count of reactions on all posts owned by a user"
Is there any aggregation operation to determine the total count of reactions on all posts owned by a user?

[2022-02-01 16:41] rlee1990 commented on #190
Thanks

[2022-02-01 16:47] sachaarbonel commented on #194
Hey @svk014, sorry for the late response. I think something like this should work:
[code]

[2022-02-01 19:50] #98 closed

[2022-02-02 05:24] svk014 commented on #194
@sachaarbonel won't the first call be paginated?

[2022-02-02 20:32] rlee1990 commented on #187
Any updates on if this will happen anytime soon?

[2022-02-23 07:12] sharansingh00002 opened #200 "Type mismatch crash at SDK on timeout error"
**Describe the bug**
When fetching feed using SDK, In case of timeout error there is a type mismatch crash at SDK side, instead of getting the timeout error logs through the SDK we are getting type mismatch error.

**What version of Flutter do you use?**
2.5.3

**What package are you using? What version?**
0.5.0

**What platform is it about?**
- [ Y] Android
- [ Y] iOS
- [ ] Web
- [ ] Windows
- [

[2022-02-23 21:42] #110 closed

[2022-02-23 22:20] sachaarbonel commented on #200
Hi @sharansingh00002, thanks for opening an issue. Can you try if this fix works for you?
[code]

Also, regarding your timeout issue, you can choose a server location closer to you (for development purposes) or your users

[2022-02-24 02:33] rlee1990 opened #202 "Realtime For Feeds Not Working"
**Describe the bug**
I am using the realtime subscription but I am not getting any activities or anything.

**What version of Flutter do you use?**
2.10.2

**What package are you using? What version?**
0.5.0
**What platform is it about?**
- [ ] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**a copy of `flutter doctor --verbose`**
[code]

**To Reproduce**
Steps to reproduce the

[2022-02-24 12:50] sachaarbonel commented on #202
Hmm weird, did you change anything in your dashboard?

[2022-02-24 13:49] rlee1990 commented on #202
@sachaarbonel nope nothing was changed.

[2022-02-24 14:07] rlee1990 commented on #202
I see in the debug console when the realtime is started but after that I don't get any updates.

[2022-02-25 10:35] developerpaaji opened #204 "Populate actor while getting feed"
**Problem**
Feed like in almost any social media app shows feed with users who have posted feed. In currenct version when we get feed we get only id we have to get user by our self.

**Suggested Solution**
Can u add request field like populateActors so we will all activities in convinient form

[2022-02-25 13:35] sachaarbonel commented on #204
Hi @developerpaaji, thanks for opening an issue. In the UI kit, we made this convenient method https://github.com/GetStream/stream-feed-flutter/blob/20efd500402eab7b89e28a6a3c8cde2335f3efa2/packages/stream_feed_flutter_core/lib/src/bloc/feed_bloc.dart#L117-L125

Would this work for you?

[2022-02-25 14:07] rlee1990 commented on #202
@sachaarbonel any update on what to do on this?

[2022-02-25 15:14] sachaarbonel commented on #202
Sorry, I can't replicate this with my API key, can I impersonate you? I'll delete the activity id right away

[2022-02-25 15:15] rlee1990 commented on #202
@sachaarbonel Yes please do. What ever it takes to figure this out.

[2022-02-25 15:29] sachaarbonel commented on #202
Running this integration test with your credentials works for me
[faye_client_test.dart](https://github.com/GetStream/stream-feed-flutter/blob/master/packages/stream_feed/test/faye_client_test.dart).
Flutter wise, did you have any change in your codebase recently, in the way you manage your state? Maybe you have a rebuild somewhere

[2022-02-25 15:30] rlee1990 commented on #202
I still just use riverpod for state management

[2022-02-25 15:31] rlee1990 commented on #202
I am checking everything. I haven't made any changes to any code for Stream Feeds at all.

[2022-02-25 15:34] rlee1990 commented on #202
I'm going to try something and see if that works.

[2022-02-25 15:46] rlee1990 commented on #202
I found the issue.
When I removed this subscription:
[code]
Then this one works:
[code]
Are we only to have one realtime stream or am I doing something wrong?
@sachaarbonel

[2022-02-25 16:20] rlee1990 commented on #202
I even tried this:
[code]

[2022-02-25 21:26] rlee1990 commented on #204
@developerpaaji I am getting the actor in my app when I get the feed.
When you make an activity are you doing this:
[code]
for the actor field. This will populate what you set for the user that was created.

[2022-02-25 21:28] developerpaaji commented on #204
Thanks @sachaarbonel  @rlee1990 will check into it.

[2022-02-25 22:52] sachaarbonel commented on #202
There is a bug somewhere in our Faye implementation I'll investigate and let you know when we have a fix for you to try out

[2022-02-25 22:54] sachaarbonel commented on #191
This has been released in 0.5.1. Thanks for the feedback @Abacaxi-Nelson

[2022-02-25 22:54] #191 closed

[2022-02-25 23:10] rlee1990 commented on #202
Okay thank you

[2022-02-28 08:03] JoDeveloper opened #206 "StreamFeedClient isn't defined"
Ive both ```stream_chat_flutter_core``` and ```stream_feed_flutter_core``` and .
it gives me ```The function 'StreamFeedClient' isn't defined.```

[2022-02-28 08:27] #206 closed

[2022-03-04 21:22] rlee1990 opened #208 "Better Pagination Support"
It would be nice to get the feed items with a page number and a max page number when we get activities so we can know when the last page is showing and to not try and fetch more pages.

[2022-03-05 00:54] rlee1990 commented on #208
The pagination example on the feed docs for flutter show this under JavaScript:
[code]
If we are able to get the next id that would also help.

[2022-03-07 10:38] Abacaxi-Nelson opened #209 "Version 0.5.1 create infinite build when listening for realtime, where 0.5.0 is not"
**Describe the bug**
I hate to create such issues, without nothing to share; i was no able to catch the bug... (no logs..)
I updates stream_feed to 0.5.1, and infinite builds starts..
Only way to stop this, was to remove this block:

[code]

**What version of Flutter do you use?**
Flutter 2.10.3 • channel stable • https://github.com/flutter/flutter.git

**What package are you using? What version?*

[2022-03-07 12:13] rlee1990 commented on #202
Any updates on this?

[2022-03-08 15:36] rlee1990 commented on #208
@sachaarbonel is there any chance this could be done at least the second option?

[2022-03-10 14:25] rlee1990 commented on #208
@HayesGordon is this possible?

[2022-03-10 14:50] sachaarbonel commented on #208
Hey @rlee1990 sorry I was a bit busy transitioning to DevRel, taking a look right now

[2022-03-10 14:56] rlee1990 commented on #208
@sachaarbonel no worries just didn't know if anyone had seen this.

[2022-03-15 22:15] sachaarbonel commented on #208
Hey, @rlee1990 I have an ongoing fix in #210, let me know if it works for you. The API is a bit rough for now but it should work in the meantime

[2022-03-15 22:17] rlee1990 commented on #208
@sachaarbonel thanks for the update that would work.

[2022-03-22 12:53] obrunsmann commented on #144
@sachaarbonel sorry for my late feedback. I upgraded to the latest version but still have the same issue. The timezone of the `activity.time` property is set to _CET_, which imo should be set to _UTC_, so that converting back `.toLocal()` then works 🤔

Can you confirm that?

[2022-03-24 12:56] HayesGordon commented on #209
Hi, @Abacaxi-Nelson we tried to replicate this but could not. On adding new activities our subscription is only triggered once as expected. Can you share a more complete example of how and when you're calling `.subscribe`?

[2022-03-25 16:31] rlee1990 commented on #208
@sachaarbonel any clue when this will be updated to the master branch?

[2022-03-25 19:49] rlee1990 opened #213 "No longer can get a list of followers"
I am using `stream_feed: ^0.5.1` on android and ios.
When I run ```
streamFeedClient
          .flatFeed("timeline", widget.accountToCheck)
          .following(limit: 100, offset: 0)
[code]
I am just having any user that visits someone's page or even their own page to be able to see who that person follows or who follows that person. This was working before and now it is not.

[2022-03-25 21:15] sachaarbonel commented on #208
Did you have a chance to try it out? If it works for you then I can just release it now

[2022-03-26 00:49] rlee1990 commented on #213
@sachaarbonel Nope I haven't made any request recently.

[2022-03-26 01:16] rlee1990 commented on #208
@sachaarbonel was trying it today but got this error
[code]

[2022-03-26 02:07] rlee1990 commented on #208
@sachaarbonel it does work. I do have a question.
Is it possible to also pass I boolean or just a null idLT if there are not any more activities in that feed? as of now I get the same idLT?
If not I am sure I can create a workaround.

[2022-03-26 19:54] rlee1990 commented on #208
@sachaarbonel I did find a workaround on my end by just checking if the idLT matches the previous one so this is working as I would expect it to.

[2022-03-27 03:09] rlee1990 opened #214 "Changes To The API?"
Were there changes to the API. I set up the ability to share activities by adding it as a reaction and now the way to access that activity has changed. The activity data is now in a different location. I couldn't find any information into anything changing.

[2022-03-28 02:23] #214 closed

[2022-03-28 13:43] #208 closed

[2022-03-31 15:01] sachaarbonel opened #216 "Core: Infinite Scroll"
Based on #208

[2022-03-31 15:03] sachaarbonel opened #217 "Deprecated Activity model in favor of EnrichedActivity"

[2022-04-01 16:23] rlee1990 commented on #208
@sachaarbonel will this also be added for aggregatedFeeds?

[2022-04-04 13:33] rlee1990 commented on #208
@sachaarbonel is it possible to have this option for aggregated Feed types also?

[2022-04-04 13:41] sachaarbonel commented on #208
Hey @rlee1990 sure I'll work on it

[2022-04-04 20:48] rlee1990 opened #218 "Get An Activity By An Extra Field"
It would be nice to get an activity by an extra field. Say like if you have a pinned activity but its not the first 25 or even the first 100 activities returned for the feed it would be nice to be able to search on a key word like pinned and get that one to show.

[2022-04-04 21:17] sachaarbonel commented on #218
Hey @rlee1990, you can achieve the desired "pinned activities" effect by adding a ranking method to your feed group in your dashboard. Check out this article:
https://getstream.io/blog/getting-started-ranked-feeds-getstream-io/

[2022-04-04 21:21] rlee1990 commented on #218
I can create that but the issue is retrieving the one that is pinned if it's say activity 200 in a feed and we only get the first 100 at a time. It would be hard to have the pinned activity to always be on top @sachaarbonel

[2022-04-04 21:25] rlee1990 commented on #218
Unless I am doing it wrong or misunderstanding

[2022-04-04 21:33] sachaarbonel commented on #218
Do you have something like this in your dashboard?
<img width="1127" alt="Capture d’écran 2022-04-04 à 17 32 19" src="https://user-images.githubusercontent.com/18029834/161635838-cb384620-7f08-4b19-bd5b-386ecf3cd37b.png">

[2022-04-04 21:41] rlee1990 commented on #218
Yes I do

[2022-04-04 21:41] rlee1990 commented on #218
I will try and test it again

[2022-04-05 01:20] rlee1990 commented on #218
@sachaarbonel so I ran a test and the pinned post does get loaded with the first pull for activities. For example if I have 12 post and the 12th is the newest and 1 is the oldest. Lets say I pinned post number 1. If I set the limit of post to load at the start to 10 it will load post 12 - 2 and the pinned post does not get pulled.

[2022-04-05 01:24] rlee1990 commented on #213
Any updates on this?

[2022-04-05 04:50] rlee1990 commented on #202
Any up on this

[2022-04-05 13:09] sachaarbonel commented on #213
Nothing changed backend-wise. If you haven't changed anything on your side then I would suggest asking for support for changing the policy like suggesting in this comment that seems similar to your issue https://github.com/GetStream/stream-feed-flutter/issues/112#issue-938894908

[2022-04-05 13:11] rlee1990 commented on #213
@sachaarbonel thanks.

[2022-04-05 13:11] #213 closed

[2022-04-05 13:15] rlee1990 commented on #218
@sachaarbonel okay thanks will do and I guess for now I will add a work around.

[2022-04-05 13:15] #218 closed

[2022-04-05 13:49] sachaarbonel commented on #213
Another option is on the serverside to generate a token with enough claims for your users. See: https://github.com/GetStream/stream-feed-flutter/blob/4e8b237eb6918bf90d68526611584abda48341da/packages/stream_feed/lib/src/client/feed.dart#L275

[2022-04-07 12:04] Abacaxi-Nelson commented on #209
I change some internal state management.
I will retry, maybe i fixed it :)

[2022-04-07 12:04] #209 closed

[2022-04-07 12:11] Abacaxi-Nelson opened #220 "Subscribe to reaction without bloc"
**Is your feature request related to a problem? Please describe.**
Hi,
My likes system is backed by firestore.
But im planning to use personnalized feed, so i need to push likes, number of comments etc.. on activity

**Describe the solution you'd like**
Without using your bloc, have an easy way to subscribe to an activity reaction

Thanks,

[2022-04-11 15:07] sachaarbonel opened #221 "Core: logger"

[2022-04-14 13:48] rlee1990 commented on #208
@sachaarbonel any update on this?

[2022-04-25 20:33] sachaarbonel commented on #208
We are releasing it this week along with support for pagination in [core]( https://github.com/GetStream/stream-feed-flutter/pull/222)

[2022-04-25 22:05] rlee1990 commented on #208
Thanks

[2022-04-26 14:37] Cteq3132 opened #223 "Errorbuilder not being called in FlatFeedCore"
**Describe the bug**
When i am in airplane mode and try to load the FlatFeedCore, it stays in loading mode instead of going into the error builder function.

**What version of Flutter do you use?**
2.10.5

**What package are you using? What version?**
stream_feed_flutter_core: ^0.7.0+1

**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux
And maybe

[2022-04-26 15:09] sachaarbonel commented on #223
Hey @Cteq3132 thanks for opening an issue, looks like Dio did not catch the error. I think we can fix this with an Interceptor
[code]

[2022-05-03 15:56] rlee1990 commented on #208
@sachaarbonel any news on this?

[2022-05-04 09:07] Cteq3132 opened #224 "How to get all hashtags"
Hello ! I have a question :
I've looked through the doc, and I don't see if there is a way of getting all the names of a `feed group`. For example if I have a `feed group` named `topic` and I publish two activities this way :
[code]
Is there a way to get a list containing `[computers, animals]` with the API ?

[2022-05-10 10:43] rlee1990 commented on #208
@sachaarbonel Any updates on this?

[2022-05-25 02:01] ValentinVignal opened #226 "`stream_feed_flutter` cannot be install from git"
**Describe the bug**

If I follow https://github.com/GetStream/stream-feed-flutter/tree/master/packages/stream_feed_flutter and copy

[code]

in my `pubspec.yaml` and run `flutter pub get`. I get the error:

[code]

**What version of Flutter do you use?**

[code]

**What package are you using? What version?**

NA

**What platform is it about?**
- [x] Android
- [x] iOS
- [x] Web
- [x] Windows
- [x]

[2022-05-26 06:50] ValentinVignal opened #227 "Is `flutter_stream_chat` still maintained and when will it be released?"
In pub.dev, [`stream_feed_flutter`](https://pub.dev/packages/stream_feed_flutter) is still at the version `0.0.0` and there is nothing in it.

In the `README.md`, it is written:

I tried to install the pub dependency via git as it is written but it didn't work in my case (see https://github.com/GetStream/stream-feed-flutter/issues/226)

The version `0.0.0` has been released 1 year ago already.

An

[2022-05-26 07:48] ValentinVignal opened #228 "The documentation of `StreamFeedClient` is no correct"
**Describe the bug**
The documentation of `StreamFeedClient` is no correct.

We can read in the documentation:

[code]

However, the `StreamFeedClient` factory does not have a `token` parameter:

[code]

So where am I supposed to pass the user token? I run my app on the client side (front end), so when I try to pass the secret I get the error:

[code]

**What version of Flutter do you use?**

[cod

[2022-05-27 16:27] sachaarbonel commented on #228
Hey sorry about that, this indeed a doc issue sorry about that. To set the user token you have to do it like that:
[code]

[2022-05-27 16:33] sachaarbonel commented on #227
We adopted a different strategy for feeds given its generic nature (a Twitter clone is different than a Reddit or Youtube clone etc), it needs more customization than chat so we are pushing towards the core architecture and focusing on DevRel content. Regarding the repo activity, we started doing squash commits so what was a PR with 100 commits are now 1 commit. Check out the core example on pub o

[2022-05-27 19:34] rlee1990 commented on #202
@sachaarbonel has this been resolved yet?

[2022-05-31 17:16] fearless23 opened #230 "Bad State: Future already completed (dio package )"
I am using example from https://github.com/GetStream/stream-feed-flutter/tree/master/example

Getting following error twice
[code]
Everything works as expected on iOS and Android, but on web the wheel is spinning
On Debugging, the debugger stops at browser_adapter.dart which is a dio package file

[code]

Tried following

## From
[code]

## to
[code]

But the issue persists

[2022-06-21 00:04] rlee1990 commented on #202
@sachaarbonel is there any progress on this?

[2022-06-30 15:47] nmarko91 opened #231 "[Help] limit of withRecentReactions"
Hello,

I'd like to do similar to what slack does with comment, tap and hold a reaction and see more info of it - who are the users that reacted with that one.

Right now I have a feed & activities & using `flags: EnrichmentFlags().withOwnReactions().withReactionCounts()` I can see my own reactions + reactions count but no detailed info.

I have a couple of questions:

1. As far as I understood to

[2022-07-27 00:35] EveryPerspective opened #232 "MultiProvider and Stream Feeds"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated with this Stream Feeds when I modified the code from single provider to multiproviders. After inspecting the widget, I found the widget wasn't posittioned properly. I am trying to find a way.
Is there any some example for multiprovider with your stream activity feeds product? I think no need for full code, jus

[2022-09-09 18:32] widike opened #233 "keepHistory parameter is missing from unfollowFeed in feed_bloc.dart (0.8.0)"
It looks like the function "unfollowFeed" in "stream_feed_flutter_code-0.8.0./lib/src/bloc/feed_bloc.dart" is missing the optional parameter "bool keepHistory":

  /// Unfollows the given [unfolloweeId] id.
  Future<void> unfollowFeed({
    String unfollowerFeedGroup = 'timeline',
    String unfolloweeFeedGroup = 'user',
    required String unfolloweeId,
  }) async {
    final unfollowerFeed = cli

[2022-09-15 20:52] meghdadkh opened #234 "auth error"
Hello
While working with the stream_feed package, I get the error {"detail":"Missing auth header.","status_code":403,"code":17,"exception":"NotAllowedException","duration":"0.00ms"," I get more_info":"https://getstream.io/docs/api_error_responses"} and while I have both received the token and authenticated the user, I want to know how to solve my problem.

var client = StreamFeedClient(
      apiK

[2022-09-23 16:49] Purus commented on #118
Hoping to try this out and fall in love :-)

[2022-09-23 16:57] Purus opened #235 "Examples on using Stream Feeds using Stream Auth Firebase Function Extention"
**Is your feature request related to a problem? Please describe.**
Currently no documents or examples on using Stream Feeds alone with Firebase extention of Stream. Even the examples looks outdated for regular use case in pub.dev readme.

**Describe the solution you'd like**
An example for using Feeds along with Firebase extenions.

[2022-10-20 21:33] guitoof commented on #231
Hello there,

I agree with @nmarko91 ... i find very strange to only be able to fetch 25 reactions for an activity. Is there any plan to remove this limit ? Any Feed showing some activities should expect a lot more than 25 reactions.

Thank you very much for your help

[2022-11-09 12:19] followthemoney1 opened #236 "The GenericFeed parsing problem"
**Is your feature request related to a problem? Please describe.**
The problem is that we receiving the type of model from the stream as this:
<img width="859" alt="image" src="https://user-images.githubusercontent.com/8526612/200825466-f4707d9b-a0c8-4b82-8431-9fd6397f78f7.png">

When we tried to use `FlatFeed` it's says that there was a problem with parsing data like this:
<img width="1242" alt="

[2022-11-10 17:01] PKeviin opened #237 "StateError when adding a child comment"
Hello,

I get an error when I try to add a child comment.
I use the onAddChildReaction() method in the feed_bloc.dart file.

The error returned is StateError, it appears in the line of the indexWhere :
[code]

The error does not occur on all comments. Each time the child comment is well created.
Maybe the limit to retrieve the last 25 comments is a problem

Version
- stream_feed_flutter_core : 0.8